html, body {
    height: 100%;
    margin: 0;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(135deg, #011963, #000a2e);
    margin: 0;
    padding: 20px;
    padding-top: 0;
    color: white;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 50px;
    margin-top: 10px;
}

input {
    padding: 10px;
    margin: 5px;
    border: solid 1px #ccc;
    border-radius: 5px;
    background-color: #000f3d;
    color: white;
}

input[type="checkbox"] {
    width: 20px;
    height: 20px;
    translate: 0px 2px;
}

label {
    color: white;
    margin-right: 10px;
    font-size: 1.2em;
    display: block;
}

.advanced-input {
    margin-top: 20px;
}

.input-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.search-group .status {
    display: block;
    margin-top: 4px;
    color: #5c5c5c;
}

.search_button {
    margin-top: 15px;
    padding: 5px 10px;
    background-color: #000f3d;
    color: white;
    border: solid 1px white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.2em;
}
